* {
    font-family: sans-serif;
    margin: 0;
}

#map {
    display: flex;
    height: 100vh;
}

p {
    font-size: 15px;
    font-weight: bold;
}

.pannel {
    background-color: rgba(39, 121, 121, 0.6);
    border-radius: 35px;
    height: 28vh;
    padding: 12px;
    position: absolute;
    right: 10px;
    top: 110px;
    width: 40vh;
    z-index: 1;   
}

.event-title {
    display: flex;
    padding: 10px;
}

.description {
    display: flex;
    padding: 10px;
}

.beginning-event-date {
    display: flex;
    padding: 10px;
}

.ending-event-date {
    display: flex;
    padding: 10px;
}

.coordinates {
    display: flex;
    justify-content: space-between;
    padding:10px;
}

.add-event {
    display: flex;
    justify-content: center;
}

button {
    border-radius: 12px;
}